<header class="mb-4">
  <h1>Product Search</h1>
  <hr>
</header>

<section class="mb-4">
  <input type="text" placeholder="Search for products" [formControl]="searchField" class="">
</section>

<main>
  <nav class="pagination flex flex-between flex-middle mb-4">
    <div>{{ currentPage }}/{{ numberOfPages() }}</div>
    <ul class="pagination-list" style="cursor: pointer;">
        <li class="pagination-item" *ngIf="currentPage != 1">
          <a class="pagination-link" (click)="currentPage = currentPage - 1">&lt; Previous</a>
        </li>
        <li class="pagination-item" *ngIf="currentPage < numberOfPages()">
          <a class="pagination-link" (click)="currentPage = currentPage + 1">Next &gt;</a>
        </li>
    </ul>
  </nav>

  <table class="table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th class="align-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | slice: (currentPage * maxPerPage) - maxPerPage :currentPage * maxPerPage">
        <td>
          {{ product.title | slice:0:100 }}...
        </td>
        <td class="align-right">
          {{ product.price }},- DKK
        </td>
      </tr>
    </tbody>
  </table>
</main>
